*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #9bb59c;
    --secondary-color: #759177;
    --background-co: rgb(255, 246, 233);
}

body{
    background-color: var(--background-co);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7dvh;
    padding-left: 250px;
    transition: padding-left 0.3s ease;
    border: rgba(188, 188, 188, 0.515) 1px solid;
}

.left-header, .right-header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
}


.toggle-menu svg{
    width: 30px;
    fill: gray;
    cursor: pointer;
}

.notification svg{
    width: 30px;
    fill: gray;
    cursor: pointer;
}

.account svg{
    width: 30px;
    fill: gray;
    cursor: pointer;
}

.search-bar input{
    padding: 8px 12px 8px 40px;
    border: 1px solid rgba(187, 187, 187, 0.695);
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: var(--background-co);
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none;
}  

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 30px;
    flex: 1;
    padding-left: 250px;
    transition: padding-left 0.3s ease;
}

.img-main img{
    width: 400px;
}

.left-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: width 0.3s ease;
}

.h2-chef{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hat-chef img{
    width: 30px;
}

.left-pages{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar-dashboard, .bar-presets{
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    padding: 0 5px;
}

.bar-dashboard svg, .bar-presets svg{
    width: 25px;
}

.bar-dashboard:hover, .bar-presets:hover{
    cursor: pointer;
    color: white;
    fill: white;
    background-color: var(--secondary-color);
    border-radius: 7px;
}



body.sidebar-hidden .left-bar {
    width: 0;
    overflow: hidden;
    padding: 0;
}

body.sidebar-hidden header,
body.sidebar-hidden main {
    padding-left: 0;
}
